In [1]:
%load_ext autoreload
%autoreload 3

In [6]:
import pandas as pd
from pandasql import sqldf 
import data_helpers as dh
from identifiers import name_dict

In [33]:
game_info = dh.get_table('game_info')
all_picks = dh.get_table('all_picks')
all_picks_info = dh.get_table('all_picks_info')

## Comparisons

In [4]:
def get_weekly_comparison_table(week_num):
    df = dh.load_pickem_raw(week_num)
    first_row = df.index[df.isnull().all(1)].values[0]
    df = df[first_row+1:]
    df = df
    col_names = [name_dict[e] for e in df.iloc[0][1:8]]
    df = df.iloc[:, :9]
    df.columns = ['game_id'] + col_names + ['winner']
    df = df[2:]
    df = df[df['winner'].notnull()]
    return df.reset_index(drop=True)

In [7]:
weekly_comparison_lst = []
for i in range(1,19):
    weekly_comparison_lst.append(get_weekly_comparison_table(i))
comp_table = pd.concat(weekly_comparison_lst)

In [8]:
comp_table[comp_table['daniel'] != comp_table['winner']][['daniel', 'winner']].iloc[:50]

        daniel     winner
0       Chiefs      Lions
1     Panthers    Falcons
2       Texans     Ravens
3      Bengals     Browns
9        Bears    Packers
12    Patriots     Eagles
13    Seahawks       Rams
14      Giants    Cowboys
15       Bills       Jets
0      Vikings       PUSH
6     Chargers     Titans
7      Raiders      Bills
13    Patriots   Dolphins
14      Saints       PUSH
15      Browns   Steelers
2       Titans     Browns
4       Saints       PUSH
11     Cowboys  Cardinals
4        Bears       PUSH
6     Steelers     Texans
10     Bengals     Titans
11     Raiders   Chargers
12    Patriots    Cowboys
13   Cardinals      49ers
14      Chiefs       Jets
0   Commanders      Bears
1        Bills    Jaguars
2       Texans       PUSH
3     Panthers      Lions
4       Titans      Colts
6     Patriots     Saints
7       Ravens   Steelers
11     Vikings     Chiefs
12     Cowboys      49ers
13     Packers    Raiders
1       Titans     Ravens
2     Panthers   Dolphins
3        Colts    Jaguars
5       Saints     Texans
7        49ers     Browns
9     Patriots    Raiders
10   Cardinals       Rams
11  Buccaneers      Lions
12      Eagles       Jets
13       Bills     Giants
14    Chargers    Cowboys
2        Lions     Ravens
3      Raiders      Bears
4       Browns      Colts
5   Commanders     Giants

In [13]:
sum(comp_table['jordan'] == comp_table['daniel']) / len(comp_table)

0.5147058823529411

In [16]:
#for p1, p2 in all_combinations:
rows = []
for p1 in users:
    for p2 in users:
        table = comp_table[[p1, p2]]
        agree_rate = round(sum(comp_table[p1] == comp_table[p2]) / len(comp_table), 3)
        agree_table = comp_table[(comp_table[p1] == comp_table[p2]) & (comp_table['winner'] != 'PUSH')]
        disagree_table = comp_table[(comp_table[p1] != comp_table[p2]) & (comp_table['winner'] != 'PUSH')]
        win_pct_when_agree = round((sum(agree_table[p1] == agree_table['winner']) / len(agree_table)), 3)
        try:
            p1_win_pct_when_disagree = round((sum(disagree_table[p1] == disagree_table['winner']) / len(disagree_table)), 3)
        except ZeroDivisionError:
            p1_win_pct_when_disagree = None
        #print(p1, p2, agree_rate, win_pct_when_agree, p1_win_pct_when_disagree)
        rows.append([p1, p2, agree_rate, win_pct_when_agree, p1_win_pct_when_disagree])
columns = ['p1', 'p2', 'agree_rate', 'win_pct_when_agree', 'p1_win_pct_when_disagree']
comp_statistics = pd.DataFrame(rows, columns=columns)

In [17]:
comp_statistics.sort_values(by=['p1','agree_rate'])

        p1      p2  agree_rate  win_pct_when_agree  p1_win_pct_when_disagree
1     adam  andres       0.467               0.496                     0.507
5     adam   james       0.467               0.549                     0.460
3     adam    greg       0.493               0.528                     0.477
4     adam  jordan       0.500               0.543                     0.462
2     adam  daniel       0.515               0.496                     0.508
6     adam   colin       0.551               0.518                     0.483
0     adam    adam       0.993               0.506                     0.000
13  andres   colin       0.434               0.504                     0.479
9   andres  daniel       0.445               0.478                     0.500
7   andres    adam       0.467               0.496                     0.486
12  andres   james       0.507               0.523                     0.457
10  andres    greg       0.529               0.511                     0.467
11  andres  jordan       0.596               0.526                     0.437
8   andres  andres       1.000               0.490                       NaN
43   colin  andres       0.434               0.504                     0.521
44   colin  daniel       0.474               0.504                     0.522
46   colin  jordan       0.482               0.556                     0.474
45   colin    greg       0.507               0.534                     0.492
47   colin   james       0.515               0.545                     0.480
42   colin    adam       0.551               0.518                     0.508
48   colin   colin       1.000               0.514                       NaN
15  daniel  andres       0.445               0.478                     0.500
20  daniel   colin       0.474               0.504                     0.478
14  daniel    adam       0.515               0.496                     0.484
18  daniel  jordan       0.515               0.533                     0.444
19  daniel   james       0.526               0.522                     0.455
17  daniel    greg       0.533               0.511                     0.467
16  daniel  daniel       1.000               0.490                       NaN
21    greg    adam       0.493               0.528                     0.515
27    greg   colin       0.507               0.534                     0.508
22    greg  andres       0.529               0.511                     0.533
23    greg  daniel       0.533               0.511                     0.533
26    greg   james       0.537               0.550                     0.487
25    greg  jordan       0.570               0.554                     0.477
24    greg    greg       1.000               0.521                       NaN
35   james    adam       0.467               0.549                     0.518
36   james  andres       0.507               0.523                     0.543
41   james   colin       0.515               0.545                     0.520
37   james  daniel       0.526               0.522                     0.545
38   james    greg       0.537               0.550                     0.513
39   james  jordan       0.548               0.570                     0.487
40   james   james       1.000               0.533                       NaN
34  jordan   colin       0.482               0.556                     0.526
28  jordan    adam       0.500               0.543                     0.538
30  jordan  daniel       0.515               0.533                     0.548
33  jordan   james       0.548               0.570                     0.504
31  jordan    greg       0.570               0.554                     0.523
29  jordan  andres       0.596               0.526                     0.563
32  jordan  jordan       1.000               0.541                       NaN

## ATS Bonus

In [39]:
def get_ats_bonus(week_num):
    df = dh.load_pickem_raw(week_num)
    first_row = df.index[df.isnull().all(1)].values[0]
    df = df[:first_row]
    df.drop(['Timestamp', 'Name', 'Email'], axis=1, inplace=True, errors='ignore')
    df.rename(columns={'Email Address': 'email', 'ATS Bonus':'bonus'}, inplace=True)
    df = df.loc[:, 'email':'bonus']
    df['week_num'] = week_num
    df['user_id'] = df['email'].apply(lambda x: name_dict[x])
    df['bonus'] = df['bonus'].str.strip()
    return df[['user_id','bonus','week_num']]

In [40]:
bonus_dfs = []
for i in range(1,19):
    bonus_dfs.append(get_ats_bonus(i))
bonus_df = pd.concat(bonus_dfs)

In [46]:
q = '''
select 
    user_id,
    bonus, 
    count(*) num_ats
from bonus_df
group by 1,2
order by 3 desc, 2
'''
df = sqldf(q)
df[df['user_id'] == 'greg']

   user_id       bonus  num_ats
11    greg     Broncos        2
12    greg      Browns        2
15    greg      Chiefs        2
24    greg     Raiders        2
28    greg      Texans        2
30    greg     Vikings        2
40    greg  Buccaneers        1
49    greg       Colts        1
56    greg      Eagles        1
66    greg    Patriots        1
70    greg      Ravens        1
74    greg    Seahawks        1